<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                    <p><span class="icon-copyright"></span> 2021 EdwardJones</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right mr-4 d-flex policy">
                    <a>Wiki Link</a>
                </div>
            </div>
        </div>
    </div>
</footer>