<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJ Streaming Solutions</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--  Common Css Files  -->
		<link rel="stylesheet" href="/template/css/bootstrap.min.css">
		<link rel="stylesheet" href="/template/fonts/style.css">
		<link rel="stylesheet" href="/template/css/main.css">

        <link rel="stylesheet" href="/template/vendor/daterange/daterange.css" />
        
		<link rel="stylesheet" href="/css/override.css">
    </head>

    <body class="authentication">
        {{{body}}}
	</body>

</html>